# 1. Perulangan / Looping
Sintaks yang digunakan untuk menjalankan sebuah kode program secara berulang kali hingga step yang ditentukan

In [2]:
#SINTAKS FOR
for i in range(5,10):
    print(i,i**i)

5 3125
6 46656
7 823543
8 16777216
9 387420489

In [ ]:
#SINTAKS WHILE
i=5
while(i<10):
    print(i,i**i)

# 2. List
Tipe data yang digunakan untuk menyimpan beberapa nilai dalam satu variabel

In [12]:
# Deklarasi List

#Dapat Berisi Angka
nilai = [30,40,50,60,70,80,90]
print(nilai)

#Dapat berisi String
peserta = ['Ani','Budi','Catra','Desi']
print(peserta)

#Dapat juga berisi campuran tipe data
campuran = ['Big',2.5, 90, 'Data']
print(campuran)

[30, 40, 50, 60, 70, 80, 90]
['Ani', 'Budi', 'Catra', 'Desi']
['Big', 2.5, 90, 'Data']

## 2.1 List Index
Untuk mengakses elemen tertentu di dalam list, kita dapat menggunakan list index. Index list dimulai dari 0. Index di dalam python juga dapat dibuat negatif, yang artinya index akan ditelusuri dari belakang

| 30 | 40 | 50 | 60 | 70 | 80 | 90 |
|----|----|----|----|----|----|----|
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 |

In [13]:
print(nilai[0])
print(nilai[4])
print(nilai[-1])
print(nilai[-3])

30
70
90
70

## 2.2 Menambah Elemen ke Dalam List

In [14]:
nilai.append(90)
nilai.extend([10,20,30,40])

print(nilai)

#MENGHAPUS ELEMEN PADA LIST
del nilai[0]

# List Function in Python

[30, 40, 50, 60, 70, 80, 90, 90, 10, 20, 30, 40]

## 2.3 Slicing List
Slicing digunakan untuk memilih beberapa kelompok nilai dari list dengan memanfaatkan range index

In [15]:
print(nilai)

# elemen ke 3 sampai ke 5
print(nilai[2:5])

# ...
print(nilai[:-2])

# ...
print(nilai[5:])

# ...
print(nilai[:])

[40, 50, 60, 70, 80, 90, 90, 10, 20, 30, 40]
[60, 70, 80]
[40, 50, 60, 70, 80, 90, 90, 10, 20]
[90, 90, 10, 20, 30, 40]
[40, 50, 60, 70, 80, 90, 90, 10, 20, 30, 40]

## 2.4 Perulangan dalam List
Dalam mengakses setiap elemen dalam list, kita dapat menggunakan sintaks perulangan for yang telah kita pelajari sebelumnya

In [16]:
for n in nilai:
    print(n**2)

1600
2500
3600
4900
6400
8100
8100
100
400
900
1600

### Contoh
Berapakah rata-rata nilai dari list tersebut?

In [17]:
# ALGORITMA RATA-RATA
total = 0.0
print(nilai)
for n in nilai:
    total = total + float(n)
    
rata = total / len(nilai)
print(rata)

[40, 50, 60, 70, 80, 90, 90, 10, 20, 30, 40]
52.72727272727273

## Lookup Nilai dalam List

In [19]:
n = 90
if n in nilai:
    print(n, "ada dalam list")
else:
    print(n, "tidak ada dalam list")

90 ada dalam list

## 2.5 Latihan
Tampilkan Nilai dari list nilai yang Lebih dari sama dengan (>=) rata-ratanya.

tugas = [66,77,88,99,55,54]

Tampilkan nilai dari list tugas yang Genap

In [21]:
tugas = [66,77,88,99,55,54]
for n in tugas:
    if n%2==0:
        print(n)

66
88
54

# 3. Tuple
Tuple merupakan tipe data yang mirip dengan list, namun berifat immutable atau tidak dapat ditambah dan diubah nilainya. Keuntungan dari penggunaan tuple adalah, pengaksesan datanya lebih cepat.

In [ ]:
# Deklarasi Tuple
bulan = ("Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember")
print(bulan)

## 3.1 Akses Elemen dan Slicing
Konsep dalam melakukan akses elemen dan slicing sama persis dengan di list

In [ ]:
print(bulan[0])
print(bulan[4])
print(bulan[-1])
print(bulan[-3])

In [ ]:
print(bulan[2:5])

print(bulan[:-5])

print(bulan[5:])

print(bulan[:])

## 3.2 Perulangan dalam Tuple
Konsep perulangan juga sama dengan list

In [ ]:
for b in bulan:
    print(b)

# 4. Dictionary
Dictionary dalam Python berbeda dengan List ataupun Tuple. Karena setiap urutanya berisi key dan value. Setiap key dipisahkan dari value-nya oleh titik dua (:), item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

## 4.1 Membuat dan Mengakses Dictionary

In [ ]:
hasil = 
print(siswa)
print(siswa['Nama'])
print(siswa['Umur'])
print(siswa['JenisKelamin'])

list_siswa = []
list_siswa.append(siswa)
list_siswa.append(siswa2)
print(list_siswa)

In [ ]:
for k,v in siswa.items():
    print(k,v)

## 4.2 Mengubah nilai Dictionary

In [ ]:
siswa['Nama'] = 'Deni'
print(siswa)

# 4.3 Menambahkan Elemen

In [ ]:
siswa['Alamat'] = "Jl. Kaliurang KM 5"
print(siswa)

In [ ]:
# List sebagai nilai dari elemen Dictionary
siswa["Nilai"] = nilai
print(siswa)

for n in siswa["Nilai"]:
   print(n)

In [ ]:
for l in list_siswa:
    print("============")
    for k,v in l.items():
        print(k,v)

# 5. Operasi String
Pada pertemuan sebelumnya telah dijelaskan mengenai string. Dalam python cukup banyak operasi yang dikenakan pada string, yang akan berguna dalam analisis data.

## 5.1 Slicing dan Akses per Karakter

In [ ]:
nama = "Tutorial Bahasa Pemrograman Python"
print(nama[0:6])
print(nama[20:30])
print(nama[-6:])

In [ ]:
for n in nama:
    print(n)

## 5.2 Merubah String menjadi list Kata
Menggunakan fungsi split. Fungsi split dapat diberikan parameter berupa karakter pemisahnya. Jika tidak diberikan parameter maka secara default, pemisahnya adalah spasi.

In [ ]:
# kata = nama.split()
# print(kata)
# print(kata[0])
# print(kata[2])

paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
kalimat = paragraf.split(".")
print(kalimat)

for k in kalimat:
    print(k.split())

## 5.3 Pencarian kata dalam String

In [ ]:
cari = 'Python'
if cari in nama:
    print("Found!")
else:
    print("Not Found!")
    
cari = ['Python','Java','C++']
for c in cari:
    if c in nama:
        print(c,"Found!")
    else:
        print(c,"Not Found!")

# 5.4 Replace String

In [ ]:
paragraf = "Pd hr ini saya BljR"
paragraf = paragraf.lower()
paragraf = paragraf.replace('pd','pada')
paragraf = paragraf.replace('hr','hari')
paragraf = paragraf.replace('bljr','belajar')
print(paragraf)

# 5.5 Panjang String, Lowercase, Uppercase

In [ ]:
print(len(nama))
print(nama.upper())
print(nama.lower())

# LATIHAN 2 - Tugas List Nilai

Diberikan sekumpulan Nilai Random antara 0 sampai dengan 100 sebanyak 250 nilai. Buatlah program untuk melakukan hal berikut:
1. Tampilkan Angka Ganjil dari ke 250 nilai tersebut
2. Tampilkan berapa banyak yang mendapatkan nilai lebih dari 70
3. Tampilkan standar deviasi dari sekumpulan nilai tersebut
4. Tampilkan nilai maksimum dan minimum
5. Tampilkan modus dari sekumpulan nilai tersebut

In [ ]:
import random

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

# TAMPILKAN:
# ganjil
# nilai > 70
# standar deviasi
# maksimum
# minimum
# modus

# LATIHAN 3 - Word Count
Diberikan sebuah paragraf, hitunglah banyak kemunculan masing-masing kata.
Contoh : "Presiden pagi ini melakukan kunjungan ke Jogja"

- presiden: 1
- pagi: 1
- ini: 1
- melakukan: 1
- kunjungan: 1
- ke: 1
- jogja: 1

hints: Gunakan Dictionary dalam menyimpan word count. Gunakan kata sebagai key, dan jumlah kemunculan sebagai value

In [ ]:
paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."
paragraf = paragraf.replace("/"," ")
paragraf = paragraf.replace("("," ")
paragraf = paragraf.replace(")"," ")
paragraf = paragraf.replace("-"," ")
print(paragraf.split())