<a href="https://colab.research.google.com/github/sykrn/py-dts/blob/master/project/QnA_gado2_30062020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': ['380.', '370.', '24.', '26.'],
                   'items':[1,2,3,4]})
df.dtypes

Animal       object
Max Speed    object
items         int64
dtype: object

In [ ]:
df.groupby(['Max Speed']).mean()

           items
Max Speed
24.            3
26.            4
370.           2
380.           1

In [ ]:
a = int ('34')

In [ ]:
#function berisikan rumus utama untuk memproses input lower dan upper bound
#dengan operasi modulo pada main function atau sub program utama dibawah sub program ini
def rumus(): 
    for i in range(lower, upper+1):
        if(i%3==0 or i%5==0): 
            print(str(i) + " ", end= "")

#main function
# if __name__ == "__main__":
print("Please enter lower and upper range limit in sequence order: ")
lower, upper=map(int,input().strip().split()) #input lower dan upper value dalam 1 line
rumus() #memanggil function yang sudah di declare setelah/jika input berhasil

Please enter lower and upper range limit in sequence order:
2 12
3 5 6 9 10 12

In [ ]:
class sesuatu:
  def __init__(self,x):
    self.x = x
  def __add__(self,y):     
    return sesuatu(self.x + y.x)
  def __str__(self): #representing the printing ouput of the class
    return str(self.x)


ob = sesuatu(2)
ob2 = sesuatu(4)
c = ob + ob2
print(ob,ob2,c)

2 4 6

In [ ]:
class sesuatu: 
  
  # constructor --> untuk menginisiasikan atribut dari kelas tersebut 
  def __init__(self,atr1,atr2):
    # apa itu atribut?
    # atribute, bisa dikatakan sebagai data di kelas tersebut.
    self.__atr1 = atr1 #private
    self.atr2 = atr2
    # return self #eksplisit return

  # apa itu method?
  # method itu untuk mengolah si data
  # method ini mengubah si atribut atr1
  def method1(self,x):
    self.__atr1+=x
  
  def get_atr1(self): # getter
    self.method1(2)
    return self.__atr1
  
  def cmethod(cls,x):
    pass



def f(obb):
  obb.method1(2)


  
ob = sesuatu(1,2) #atr1 = 1
# ob.method1(2) # atr1 = 3'
# f(ob)
ob.atr2 = 100
ob.__atr1 =200

a = ob.get_atr1() # a = ob.atr1
a = ob.get_atr1() # a = ob.atr1

print(ob.__dict__)
print(ob.atr2,a)

{'_sesuatu__atr1': 5, 'atr2': 100, '__atr1': 200}
100 5